<% file = File.open(Rails.root.to_s + "/data/" + post.path + '/' + post.slug + ".md") %>
<div class="post-box-wrapper">
    <% if post.has_image? %>
        <div class="img-wrapper">
            <% if post.image_name =~ /^https?:\/\// %>
                <img src="<%= post.image_name %>">
            <% else %>
                <%= image_tag(post.image_name) %>
            <% end %>
        </div>
    <% end %>
    <div class="post-box markdown-body">
    <% if (with_title ||= false) %>
        <% section = Section.find(post.section_id) %>
        <% subsection = post.subsection_id.nil? ? nil : Subsection.find(post.subsection_id) %>

        <p class="date"><%= post.creation_date.strftime("%B %d, %Y") %> by David</p>
        <% link = '/' + section.slug + '/' + (subsection.nil? ? '' : subsection.slug + '/') + post.slug %>
        <% name = ERB::Util.html_escape(post.name).gsub(/&amp;([[:alpha:]]+);/, '&\1;') %>
        <h2 class="title"><%= link_to name.html_safe, link %></h2>
        <% if (with_location ||= false) %>
            <% location = section.name  + (subsection.nil? ? '' : ' / ' + subsection.name)%>
            <% link =  '/' + section.slug + (subsection.nil? ? '' : '/' + subsection.slug) %>
            <p class="location">Posted in <%= link_to location, link %></p>
        <% end %>
    <% end %>
    <%= @markdown.render(file.read).gsub(/&amp;([[:alpha:]]+);/, '&\1;').html_safe %>

    <% tags = post.tags %>
    <% unless tags.empty? %>
        <div class="tags-wrapper">
            <% tags.each do |tag| %>
                <%= link_to (tag.name || tag.slug), '/tags/' + tag.slug, class: "tag" %>
            <% end %>
        </div>
    <% end %>

    <% if post.last_modification_date > post.creation_date %>
        <p class="last-modification-date">Last updated on <%= post.last_modification_date.strftime("%b %d, %Y") %> by David</p>
    <% end %>
    </div>
</div>

<% if (with_related_posts ||= false) %>
    <% related_posts = post.related_posts %>
    <% unless related_posts.empty? %>
        <div class="related-posts-box">
            <div class="top-button-wrapper">
                <%= link_to "Read more", related_posts.first.link, class: "top-button" %>
            </div>
            <% related_posts.each do |p| %>
                <div class="related-post">
                    <h2 class="title"><%= link_to p.name, p.link %></h2>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>
