<% file = File.open(Rails.root.to_s + "/data/" + post.path + '/' + post.slug + ".md") %>
<div class="post-box-wrapper">
    <% if post.has_image? %>
        <div class="img-wrapper">
            <% if post.image_name =~ /^https?:\/\// %>
                <img src="<%= post.image_name %>">
            <% else %>
                <%= image_tag(post.image_name) %>
            <% end %>
        </div>
    <% end %>
    <div class="post-box markdown-body">
    <% if (with_title ||= false) %>
        <p class="date"><%= post.printable_creation_date %> by David</p>
        <h2 class="title"><%= link_to post.printable_name.html_safe, post.link %></h2>
        <% if (with_location ||= false) %>
            <p class="location">Posted in <%= link_to post.location, post.link %></p>
        <% end %>
    <% end %>
    <%= @markdown.render(file.read).gsub(/&amp;([[:alpha:]]+);/, '&\1;').html_safe %>

    <% tags = post.tags %>
    <% unless tags.empty? %>
        <div class="tags-wrapper">
            <% tags.each do |tag| %>
                <%= link_to tag.name, tag.link, class: "tag nocolor" %>
            <% end %>
        </div>
    <% end %>

    <% if post.last_modification_date > post.creation_date %>
        <p class="last-modification-date">Last updated on <%= post.printable_update_date %> by David</p>
    <% end %>
    </div>
</div>

<% if (with_related_posts ||= false) %>
    <% related_posts = post.related_posts %>
    <% unless related_posts.empty? %>
        <div class="related-posts-box">
            <div class="top-button-wrapper">
                <%= link_to "Read more", related_posts.first.link, class: "top-button" %>
            </div>
            <% related_posts.each do |p| %>
                <div class="related-post">
                    <h2 class="title"><%= link_to p.name, p.link %></h2>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>
