<% next_posts = @section.fetch_next_posts(params[:page]) %>
<% has_previous = params[:page].to_i > 0
   has_subtitle = @section.has_subtitle?
   has_next     = not(next_posts.empty?) && has_previous%>

<% if has_previous || has_subtitle || has_next %>
    <div class="top-subtitles">
        <h2 class="section-subtitle previous-page <%= has_previous ? nil:"hidden" %>">
            <% if has_previous %>
                <%= link_to "Previous page", @section.link_to_previous_page(params[:page]), class: "nomargin"%>
            <% end %>
        </h2>
        <% if has_subtitle %>
            <h2 class="section-subtitle"><%= @section.subtitle %></h2>
        <% end %>
        <h2 class="section-subtitle next-page <%= has_next ? nil:"hidden" %>">
            <% if has_next %>
                <%= link_to "Next page", @section.link_to_next_page(params[:page]), class: "nomargin"%>
            <% end %>
        </h2>
    </div>
<% end %>

<% subsections = @section.subsections %>
<% if subsections %>
    <% subsections.each do |sub| %>
        <%= render "shared/subsection", subsection: sub %>
    <% end %>
<% end %>

<% posts = @section.fetch_posts(params[:page]) %>
<% with_location = @section.display.nil? || @section.display.split(':').include?('global') %>
<% if posts %>
    <% posts.each do |p| %>
        <%= render "shared/post", post: p, with_title: true, with_location: with_location %>
    <% end %>
<% end %>

<% unless next_posts.empty? %>
    <div class="related-posts-box">
        <div class="top-button-wrapper">
            <%= link_to "Show more", @section.link_to_next_page(params[:page]), class: "top-button" %>
        </div>
        <% next_posts.each do |p| %>
            <div class="related-post">
                <h2 class="title"><%= link_to p.printable_name, p.link %></h2>
                <p class="location">Posted in <%= link_to p.location, p.link %></p>
            </div>
        <% end %>
    </div>
<% end %>
