<!DOCTYPE html>
<html>
    <head>
        <title>David ROBIN - Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fjord+One", media: 'all', 'data-turbolinks-track' => true, async: true %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, async: true %>
        <%= javascript_include_tag 'https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML', media: 'all', defer: true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <main>
            <div class="header">
                <h1><%= @title %></h1>
                <% if @subtitle %>
                    <h2><%= @subtitle %></h2>
                <% end %>
            </div>
            <div class="links-banner">
                <% Section.all.order(:order).find_each do |s| %>
                    <a href="/<%= s.slug %>">
                        <h5 <%= s.slug == params[:section] ? 'class=selected' : "" %>><%= s.name %></h5>
                    </a>
                <% end %>
            </div>
            <div class="links-banner alternative">
                <h5 onclick="toggleSideMenu()">Menu</h5>
            </div>

            <%= yield %>

            <div class="footer">
                <p><i>Made by hand</i> by David ROBIN</p>
                <p>Thanks for visiting</p>
            </div>
        </main>
        <div id="side-menu">
            <h2 class="hint">Where would you like to go ?</h2>
            <hr/>
            <% Section.all.order(:order).find_each do |s| %>
                <a href="/<%= s.slug %>">
                    <h5 <%= s.slug == params[:section] ? 'class=selected' : "" %>><%= s.name %></h5>
                </a>
            <% end %>
            <hr/>
            <a href="/tags"><h5>All tags</h5></a>
            <a href="/posts"><h5>All posts</h5></a>
            <h5 class="close" onclick="toggleSideMenu()">&#10006;</h5>
        </div>

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <script type="text/javascript">
         hljs.initHighlighting.called = false;
         hljs.initHighlighting();
         MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        </script>
    </body>
</html>
