<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fjord+One", media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="header">
            <h1><%= @title %></h1>
            <% if @subtitle %>
                <h2><%= @subtitle %></h2>
            <% end %>
        </div>
        <div class="links-banner">
            <% Section.all.order(:order).find_each do |s| %>
                <a href="/<%= s.slug %>">
                    <h5 <%= s.slug == params[:section] ? 'class=selected' : "" %>><%= s.name %></h5>
                </a>
            <% end %>
        </div>

        <%= yield %>

        <div class="footer">
            <p><i>Made by hand</i> by David ROBIN</p>
            <p>Thanks for visiting</p>
        </div>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
